html,
body {
  min-height: 100%;
  height: auto;
}

body {
  background-image: url("/assets/sbs_theme/images/booking_appoinment-bg_mobile.png");
  background-size: cover;
  background-position: top center;
}

.mt-custom {
  margin-top: 100px !important;
}

@media (min-width: 440px) {
  body {
    background-image: url("/assets/sbs_theme/images/booking_appoinment-bg.png");
  }
}

@media (min-width: 769px) {
  .mt-custom {
    margin-top: 235px !important;
  }
}

#page-index {
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  height: auto;
}

/* اجبار التحرير داخل الحقل على LTR */
input[type="date"] {
  direction: ltr;
  text-align: left;
}

/* محركات WebKit (كروم/إيدج/سفاري) */
input[type="date"]::-webkit-datetime-edit {
  direction: ltr;
  text-align: left;
}

/* اختيارياً: تجربة خاصية تجريبية لتعيين اللغة */
input[type="date"] {
  -webkit-locale: "en-US"; /* قد لا تعمل بكل المتصفحات */
}

input[type="date"] {
  font-variant-numeric: lining-nums;
}

.time-slot {
  border-radius: 5px;
  cursor: pointer;
  border: 0.5px solid #cccccc;
  min-height: 75px;
  padding: 0.5em 1em;
  transition: 0.3s all linear;
}

#customer-form {
  border-color: black;
}
#customer-form ::placeholder {
  color: #ddd;
}

input,
textarea {
  background-color: transparent !important;
  border-radius: 4px !important;
  border: 2px solid #805e24 !important;
}

input {
  height: 40px !important;
}

button.btn {
  height: 36px !important;
  font-weight: bold !important;
  background-color: #805e24 !important;
}

#timeslot-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.time-slot:hover {
  color: white;
  background: #805e24;
}

.time-slot.unavailable {
  background: #cbd5e0;
  cursor: not-allowed;
  color: #f5f5f5;
  border: 1px solid #805e24;
}

.time-slot.unavailable .text-muted {
  color: #718096;
}

.time-slot.selected {
  color: white;
  background: #805e24;
}

.time-slot.selected .text-muted {
  color: #f5f5f5 !important;
}

#select-date-time .title h3,
#enter-details .title h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

@media (min-width: 560px) {
  #select-date-time .title h3,
  #enter-details .title h3 {
    font-size: 70px;
  }
}

#select-date-time .title p,
#enter-details .title p {
  color: #777;
}

.date-span,
.time-span {
  font-weight: bold !important;
  color: black;
}

/* Hide default footer and navbar */
footer.web-footer,
body > nav.navbar {
  display: none !important;
}
